**Linear regression using Gradient Descent mathod**

Creating Linear Regression Algorithm

In [22]:
import numpy as np


class LinearRegressionAlgorithm:
    def __init__(self, learning_rate=0.001, iterations=10000):

        self.lr = learning_rate
        self.n = iterations
        self.weights = None
        self.bias = None

    def fit(self, X, Y):
        self.weights = np.zeros(X.shape[1])
        self.bias = 0

        for epoch in range(self.n):
          y_pred= np.dot(X,self.weights)+self.bias

          dw=(1/X.shape[0]) * np.dot(X.T,(y_pred-Y))   
          db=(1/X.shape[0]) * np.sum(y_pred-Y)  

          self.weights-=self.lr*dw
          self.bias-=self.lr*db    


    def predict(self, X):

         y_pred= np.dot(X,self.weights)+self.bias
         return y_pred

Testing Algorithm

In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import datasets
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error,r2_score
df = pd.read_csv('insurance.csv')
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [5]:
le = LabelEncoder()
df['sex'] = le.fit_transform(df['sex'])
df['smoker'] = le.fit_transform(df['smoker'])
df['region'] = le.fit_transform(df['region'])
df.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

**Sex**:-female-0 ,male-1
**smoker**: yes-1,no-0
**region** southwest-3,southeast-2,northwest-1

In [6]:
x = df.drop('charges',axis=1)
x

      age  sex     bmi  children  smoker  region
0      19    0  27.900         0       1       3
1      18    1  33.770         1       0       2
2      28    1  33.000         3       0       2
3      33    1  22.705         0       0       1
4      32    1  28.880         0       0       1
...   ...  ...     ...       ...     ...     ...
1333   50    1  30.970         3       0       1
1334   18    0  31.920         0       0       0
1335   18    0  36.850         0       0       2
1336   21    0  25.800         0       0       3
1337   61    0  29.070         0       1       1

[1338 rows x 6 columns]

In [7]:
y = df['charges']
y

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

In [10]:
sc = StandardScaler()
train_x, test_x, train_y, test_y = train_test_split(x, y, test_size=.2)

In [11]:
train_x

      age  sex     bmi  children  smoker  region
979    36    0  29.920         0       0       2
964    52    1  36.765         2       0       1
331    52    1  27.360         0       1       1
1209   59    1  37.100         1       0       3
491    61    0  25.080         0       0       2
...   ...  ...     ...       ...     ...     ...
931    39    0  32.500         1       0       3
1312   34    1  42.900         1       0       3
817    23    1  37.100         3       0       3
415    43    0  35.640         1       0       2
483    51    0  39.500         1       0       3

[1070 rows x 6 columns]

In [12]:
train_x = sc.fit_transform(train_x)
train_x

array([[-0.23741337, -0.99626864, -0.1299622 , -0.91872466, -0.50729114,
         0.41726426],
       [ 0.90655422,  1.00374533,  1.00925631,  0.75452707, -0.50729114,
        -0.48652675],
       [ 0.90655422,  1.00374533, -0.55602493, -0.91872466,  1.97125461,
        -0.48652675],
       ...,
       [-1.16688704,  1.00374533,  1.06501061,  1.59115293, -0.50729114,
         1.32105526],
       [ 0.26307245, -0.99626864,  0.82202171, -0.0820988 , -0.50729114,
         0.41726426],
       [ 0.83505625, -0.99626864,  1.46444442, -0.0820988 , -0.50729114,
         1.32105526]])

In [13]:
test_x = sc.transform(test_x)
test_x

array([[-0.52340527, -0.99626864, -0.16075189, -0.91872466, -0.50729114,
        -0.48652675],
       [-0.16591539, -0.99626864, -0.19986311,  0.75452707, -0.50729114,
         1.32105526],
       [ 0.33457043, -0.99626864, -0.50859216, -0.91872466, -0.50729114,
        -0.48652675],
       ...,
       [ 1.69303194,  1.00374533, -0.39791571, -0.91872466, -0.50729114,
        -0.48652675],
       [ 0.54906435,  1.00374533,  0.91355863, -0.91872466,  1.97125461,
         0.41726426],
       [ 1.04955017, -0.99626864,  2.66274585,  0.75452707, -0.50729114,
         1.32105526]])

using built in function

In [36]:
from sklearn.linear_model import LinearRegression
fun = LinearRegression()
fun.fit(train_x, train_y)
y_pred = fun.predict(test_x)
mse=(mean_squared_error(test_y,y_pred))**0.5
mse

6091.920051082008

In [37]:
score=r2_score(test_y,y_pred)
score

0.7532598839871357

In [17]:
y_pred = fun.predict(train_x)
mse=(mean_squared_error(train_y,y_pred))**0.5
mse

6033.6252732955545

In [38]:
score=r2_score(train_y,y_pred_train)
score

0.749923688237141

Using my own function

In [23]:
lin=LinearRegressionAlgorithm()
lin.fit(train_x, train_y)
y_pred = lin.predict(test_x)
mse=(mean_squared_error(test_y,y_pred))**0.5
mse

6091.901439258517

In [40]:
score=r2_score(test_y,y_pred)
score

0.7532598839871357

In [30]:
y_pred_train = lin.predict(train_x)
mse=(mean_squared_error(train_y,y_pred_train))**0.5
mse

6033.625353203874

In [39]:
score=r2_score(train_y,y_pred_train)
score

0.749923688237141

**Logistic Regression Using PsuedoInverse Mathod**

In [25]:
import numpy as np


class LinearRegressionAlgorithmPsuedo:
    def __init__(self):
      
        self.weights = None
        self.bias = None

    def fit(self, X, Y):
        n=X.shape[0]
        m=X.shape[1]
        A=X
        z=np.ones((n,1))
        A = np.hstack((A, np.ones((X.shape[0], 1), dtype=A.dtype)))
        ans=np.dot(np.dot(np.linalg.inv(np.dot(np.transpose(A),A)),np.transpose(A)),Y)
        self.weights=ans[0:-1]
        self.bias=ans[-1]


    def predict(self, X):

         y_pred= np.dot(X,self.weights)+self.bias
         return y_pred

Using Same dataset

In [31]:
Psue=LinearRegressionAlgorithmPsuedo()
Psue.fit(train_x, train_y)
y_pred22 = Psue.predict(test_x)
mse=(mean_squared_error(test_y,y_pred22))**0.5
mse

6091.920051082008

In [41]:
score=r2_score(test_y,y_pred)
score

0.7532598839871357

In [32]:
y_pred_train22 = Psue.predict(train_x)
mse=(mean_squared_error(train_y,y_pred_train22))**0.5
mse

6033.6252732955545

In [42]:
score=r2_score(train_y,y_pred_train)
score

0.749923688237141