link to the dataset ---------------->>>>>  [link text](https://www.kaggle.com/rashikrahmanpritom/heart-attack-analysis-prediction-dataset)

# ***Defining SVM class ***

In [1]:
class SVM:
    def __init__(self, lamb=0.01, iterations=1000):
        self.lamb=lamb
        self.epochs=iterations
        self.weights = None

    def fit(self, X, Y):
        self.weights = np.zeros(len(X[0]))
        sum=np.zeros(len(X[0]))
        i=0
        for epoch in range(1,self.epochs):
          self.weights=sum/(self.lamb*epoch)
          i=i%X.shape[0]
          if (Y[i]*np.dot(X[i], self.weights)) < 1:
            sum = sum + self.lamb *  (X[i] * Y[i])
          i+=1
        
      
    def predict(self, X):
        y_pred = []
        for i in range(X.shape[0]):
            y_pred.append(self.helper(np.dot(self.weights, X[i])))
        return y_pred

    def helper(self, helper):
        if (helper >= 0):
            return 1
        return -1

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [3]:
df = pd.read_csv('heart.csv')
df.head()

   age  sex  cp  trtbps  chol  fbs  ...  exng  oldpeak  slp  caa  thall  output
0   63    1   3     145   233    1  ...     0      2.3    0    0      1       1
1   37    1   2     130   250    0  ...     0      3.5    0    0      2       1
2   41    0   1     130   204    0  ...     0      1.4    2    0      2       1
3   56    1   1     120   236    0  ...     0      0.8    2    0      2       1
4   57    0   0     120   354    0  ...     1      0.6    2    0      2       1

[5 rows x 14 columns]

In [4]:
x = df.iloc[:, 0:-1]
y = df.iloc[:, -1:]
x.head()

   age  sex  cp  trtbps  chol  fbs  ...  thalachh  exng  oldpeak  slp  caa  thall
0   63    1   3     145   233    1  ...       150     0      2.3    0    0      1
1   37    1   2     130   250    0  ...       187     0      3.5    0    0      2
2   41    0   1     130   204    0  ...       172     0      1.4    2    0      2
3   56    1   1     120   236    0  ...       178     0      0.8    2    0      2
4   57    0   0     120   354    0  ...       163     1      0.6    2    0      2

[5 rows x 13 columns]

In [5]:
y=y.replace(0,-1)
y.head()

   output
0       1
1       1
2       1
3       1
4       1

In [6]:
x = x[x.columns[0:-1]].values
x

array([[63. ,  1. ,  3. , ...,  2.3,  0. ,  0. ],
       [37. ,  1. ,  2. , ...,  3.5,  0. ,  0. ],
       [41. ,  0. ,  1. , ...,  1.4,  2. ,  0. ],
       ...,
       [68. ,  1. ,  0. , ...,  3.4,  1. ,  2. ],
       [57. ,  1. ,  0. , ...,  1.2,  1. ,  1. ],
       [57. ,  0. ,  1. , ...,  0. ,  1. ,  1. ]])

In [7]:
y = y[y.columns[0:]].values

In [8]:
train_x, test_x, train_y, test_y = train_test_split(x, y, test_size=.2)
train_x

array([[35. ,  1. ,  0. , ...,  0. ,  2. ,  0. ],
       [58. ,  0. ,  3. , ...,  1. ,  2. ,  0. ],
       [62. ,  0. ,  0. , ...,  1.2,  1. ,  0. ],
       ...,
       [60. ,  1. ,  0. , ...,  1.4,  2. ,  1. ],
       [57. ,  1. ,  2. , ...,  1.6,  2. ,  0. ],
       [41. ,  1. ,  1. , ...,  0. ,  2. ,  0. ]])

**solving for lambda=0.01 and 1000 iterations**

In [9]:
svm=SVM()
svm.fit(train_x,train_y)

pedicting accuracy score on test data

In [10]:
pred_y=svm .predict(test_x)
accuracy_score(test_y, pred_y)

0.5081967213114754

pedicting accuracy score on training data

In [11]:
pred_train_y=svm.predict(train_x)
accuracy_score(train_y, pred_train_y)

0.5909090909090909

**solving for lambda=0.1 and 1000 iterations**

In [12]:
svm=SVM(lamb=0.1, iterations=1000)
svm.fit(train_x,train_y)

pedicting accuracy score on test data

In [13]:
pred_y=svm .predict(test_x)
accuracy_score(test_y, pred_y)

0.5081967213114754

pedicting accuracy score on training data

In [14]:
pred_train_y=svm.predict(train_x)
accuracy_score(train_y, pred_train_y)

0.5909090909090909

**solving for lambda=2 and 10000 iterations**

In [15]:
svm=SVM(lamb=2, iterations=10000)
svm.fit(train_x,train_y)

pedicting accuracy score on test data

In [16]:
pred_y=svm .predict(test_x)
accuracy_score(test_y, pred_y)

0.7377049180327869

pedicting accuracy score on training data

In [17]:
pred_train_y=svm.predict(train_x)
accuracy_score(train_y, pred_train_y)

0.6694214876033058

**solving for lambda=10 and 10000 iterations**

In [18]:
svm=SVM(lamb=10, iterations=10000)
svm.fit(train_x,train_y)

pedicting accuracy score on test data

In [19]:
pred_y=svm .predict(test_x)
accuracy_score(test_y, pred_y)

0.7377049180327869

pedicting accuracy score on training data

In [20]:
pred_train_y=svm.predict(train_x)
accuracy_score(train_y, pred_train_y)

0.6694214876033058

# **Predicting accuracy score using built in SVM classifier**

In [ ]:
from sklearn import svm
fun = svm.LinearSVC()
fun.fit(train_x,train_y)

accuracy on test data

In [22]:
pred_y=fun.predict(test_x)
accuracy_score(test_y,pred_y)

0.8852459016393442

accuracy on training data

In [23]:
pred_train_y=fun.predict(train_x)
accuracy_score(train_y,pred_train_y)

0.8057851239669421